<template name="dashboard">
  <div class="dashboard">
    <div class="col">
      <a href="/user">
        <div class="con">
          <i class="massive white user icon"></i>
        </div>
      </a>
    </div>
    <div class="col">
        <div class="con">
          <i class="massive white ticket icon"></i>
        </div>
    </div>
    <div class="col">
      <a href="/money">
        <div class="con">
          <i class="massive white dollar icon"></i>
        </div>
      </a>
    </div>
    <div class="col">
        <div class="con">
          <i class="massive white fire icon"></i>
        </div>
    </div>
    <div class="col">
        <div class="con">
          <i class="massive white question icon"></i>
        </div>
    </div>
    <div class="col">
        <div class="con">
          <i class="massive white sun o icon"></i>
        </div>
    </div>
  </div>
</template>
